.grid1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 20px;
    margin-right: 30px;
}



img{
    width: 100%;
    height: 100%;
    border: 3px solid black;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin-right: 30px;
    margin-top: 20px;
}

.image1{
    grid-column: 1;
    grid-row: 1;
    display: grid;        
    justify-items: center; 
    align-items: center;   

    background: #fbfbfc;
    color: rgb(10, 10, 10);
    height: 250px;
    font-size: 30px;
    font-weight: bold;
    
}

.image2{
    grid-row: 1;
    grid-column: 2;
    
}

.image3{
    grid-column: 1;
    grid-row: 1;
}

.image4{
    grid-column: 2;
    grid-row: 1;
}

.image5{
    grid-column: 3/5;
    grid-row: 1/3;
}

.image6{
    grid-column: 5;
    grid-row: 1;
}

.image7{
    grid-column: 1/3;
    grid-row: 2;
}

.image8{
    grid-column: 5;
    grid-row: 2;
}

.image9{
    grid-column: 1;
    grid-row: 3;
}

.image10{
    grid-column: 2;
    grid-row: 3;
}

.image11{
    grid-column: 3/6;
    grid-row: 3;
}